save-exact = true
engine-strict = true
update-notifier = false
auto-install-peers = true
enable-pre-post-scripts = true
cache-dir = "./var/cache/.pnpm"
store-dir = "./var/cache/.pnpm-store"
global-dir = "./var/cache/pnpm-global"
